*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    --light-color: rgb(231, 243, 243);
    --dark-color: darkgray;
    --dark-blue:rgb(7, 17, 51);
}

html{
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: var(--light-color);
    width: 100vw;
    display: flex;
    justify-content: center;
}

#main-container{
    background-color: var(--light-color);
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1500px;
}
/*HEADER*/
#header-container{
    width: 50%;
}
header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: clamp(1rem, 2vw, 1.5rem);
}

header a{
    text-decoration: none;
    color: black;
    transition: all 300ms ease-in;
}
header a:hover{
    text-decoration: underline;
    text-decoration-color: var(--dark-blue);
    text-decoration-thickness: 0.5rem;
    text-decoration-skip-ink: none;
}
#nav-btn{
    width: 3rem;
    height: 3rem;
    display: none;  
    border-radius: 50%;
    z-index: 3;
}
/*HEADER*/

/*MAIN*/
main{
    width: 100%;
    display: flex;
    flex-direction: column;
}

/*HOME*/
#home{
    width: inherit;
    column-gap: 1rem;
    height: auto;

}
h1{
    font-size: clamp(2rem, 3vw, 2.5rem);
    margin-bottom: 1rem;
}
#profile-picture{
    background-color: rgb(211, 158, 61);
    width: 50%;
    min-width: 280px;
    max-width: 500px;
    height: auto;
    aspect-ratio: 9/9;
}
#profile-picture img{
    width: 100%;
    height: 100%;
}
#contact-field{
    border-radius: 1rem;
    border-color:   black;
    background-color: var(--dark-blue);
    display: flex;
    text-align: center;
}
#contact-field legend{
    font-weight: 900;
    font-size: 1.2rem;
    color: var(--light-color);
    position: relative;
    top: 1rem;
    margin: 1rem;
}
#contact-field a{
    text-decoration: none;
    color: var(--light-color);
    font-size: 1.5rem;
    margin: 1rem;
    border: 1px solid var(--light-color);
    padding: 0.5rem;
    border-radius: 50%;

    transition: all 300ms ease-in;
}
#contacts-icons{
    width: 100%;
    height: 100%;
}
#contact-field a:hover{
    border-radius: 0.5rem;
    background-color: white;
    color: var(--dark-blue);
}
#introduction{
    width: 50%;
}
/*PROJECTS*/
#projects{
    background-image: url(assets/project_bg.png);
    background-position: top;
    object-fit: cover;

    width: 100%;
    height: auto;
    column-gap: 1rem;
    background-color: var(--dark-color);
    flex-direction: column;
    row-gap: 5rem;
}

#project-container{
    width: 100%;
}

.each-project{
    width: 30%;
    aspect-ratio: 1/1;
    background-color: var(--light-color);
    border-radius: 1rem;
    box-shadow: 5px 5px 10px black;
    margin-left: -2rem;
    margin-right: -2rem;

    transition: all 500ms ease-in;
    cursor: pointer;
    filter: brightness(0.9);

    padding: 1rem;
}

.each-project:first-of-type{
    z-index: 1;
    position: relative;
    top: -20px;
}
.each-project:nth-of-type(2){
    z-index: 2;
    position: relative;
}
.each-project:last-of-type{
    z-index: 1;
    position: relative;
    top: -20px;
}

.each-project:hover{
    z-index: 3;
    top: -2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    filter: brightness(1);
    transform: rotate(15deg);
    transform: skewX(-5deg);
    box-shadow: 5px 5px 20px black;
}

.project-photo{
    width: 100%;
    height: 50%;
    background-color: burlywood;
    display: block;
    object-fit: cover;
}

.project-title{
    font-weight: 900;
    margin: 0.5rem 0 0.2rem 0.2rem;
}

.project-caption{
    font-size: 0.8rem;
}

/*Education*/
#education{
    width: 100%;
    height: auto;
    background-color: var(--dark-blue);
    flex-direction: column;
    row-gap: 5rem;
}

#education h2{
    color: var(--light-color);
}

#education-container{
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.each-education{
    width: 100%;
    height: auto;
    background-color: var(--light-color);
    border-radius: 1rem;

    padding: 1rem;

    display: flex;
    column-gap: 1rem;
}

.school-logo{
    position: relative;
    width: 30%;
    height: 200px;
    background-color: rgb(228, 225, 225);
    object-fit: contain;

    border-radius: 1rem;
    padding: 0.5rem;
}
.education-info{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.education-title{
    font-size: clamp(1.5rem, 2.5vw, 2rem);
    font-weight: bold;
    text-align: center;
}
.school-name{
    font-size: 1.5rem;
    text-align: center;
}
.school-date{
    font-style: italic;
}
/*Skills*/
#skills{
    width: 100%;
    height: auto;
    background-color: rgb(5, 2, 20);
    flex-direction: column;
    row-gap: 5rem;
}   

#skills h2{
    color: var(--light-color);
}

#skills-container{
    width: 100%;
    display: flex;
    column-gap: 1.5rem;
    align-items: start;
    
}
.hard-and-soft-skills{
    width: 50%;
    border-radius: 1rem;
    border: 3px white solid;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    position: relative;
    overflow: hidden;
}
h3.skill-title{
    color: var(--light-color);
    text-align: center;
    font-size: 2rem;
}

.skill-list{
    border-radius: 1rem;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.a-skill{
    height: 3rem;
    border: 1px whitesmoke solid;
    border-radius: 1rem;;
    padding: 0.5rem;

    color: silver;
    flex: 1 1 auto;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 300ms ease-in;
}

.a-skill:hover{ 
    background-color: white;
    color: var(--dark-blue);
    cursor: pointer;
}

.cover{
    width: 100%;
    height: 100%;
    background-color: rgb(245, 245, 245, 0.8);
    backdrop-filter: blur(5px);
    position: absolute;
    top: 0; 
    left: 0;

    transition: all 300ms ease-in-out;
    z-index: -1;
    opacity: 0;

    padding: 1rem;

    display: flex;
    flex-direction: column;
}

.cover .cover-title{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2rem;
}

.cover .cover-description{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
}
/*Mobile view*/
@media (max-width: 750px){
    html{
    font-size: 12px;
    }
    main{
    margin-top: 7vh;
    }
    header{ 
    display: none;
    justify-content: start;
    flex-direction: column;
    row-gap: 0.5rem; 
    width: 50vw;   
    height: 100vh;
    z-index: 2;
    background-color: rgba(119, 119, 119, 0.1);
    padding-top: 10rem;
    position: fixed;
    backdrop-filter: blur(5px);
    }

    #button-bg{
    position: fixed;
    background-color: rgb(7, 17, 51);
    width: 100vw;
    height: 7vh;
    z-index: 3;
    }

    #nav-btn{
    display: block;
    position: fixed;
    margin: 1rem;
    z-index: 3;
    }

    #home{
    height: auto;
    padding: 2rem;
    column-gap: 0;
    row-gap: 1rem;
    flex-direction: column;   
    }

    #profile-picture{
    background-color: rgb(211, 158, 61);
    width: 60%;
    aspect-ratio: 1/1;
    }   

    #introduction{   
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 80%;
    }

    #contact-field{
    width: 80%;
    }
    /*PROJECTS*/
    #projects{
    background-image: url(assets/project_mobile_bg.png);
    background-position: top;
    background-size: containgit ;
    width: 100%;
    height: auto;
    column-gap: 1rem;
    background-color: var(--dark-color);
    flex-direction: column;
    row-gap: 5rem;
    }

    #projects h2{
    letter-spacing: 0.5rem;
}

    #project-container{
    width: 100%;
    position: relative;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    row-gap: 1rem;
    }

    .each-project{
    width: 80%;
    aspect-ratio: 1/1;
    background-color: var(--light-color);
    border-radius: 1rem;
    box-shadow: 0px 2px 5px black;
    margin-left: 0;
    margin-right: 0;
    filter: brightness(1);

    padding: 0rem;

    overflow: hidden;
    }
    .each-project:first-of-type{
    z-index: 1;
    top: 0;
    }
    .each-project:nth-of-type(2){
    z-index: 1;
    }
    .each-project:last-of-type{
    z-index: 1;
    top: 0;
    }

    .each-project:hover{
    z-index: 2;
    top: 0;
    margin-left: 0;
    margin-right: 0;
    margin: 1rem;
    transform: none;
    transform: scale(1.1);
    box-shadow: 0px 2px 5px black;
    }

    #education h2{
    letter-spacing: 0.5rem;
    }

    .each-education{
    width: 100%;
    aspect-ratio: 1/1; 
    position: relative;
    padding: 0;
    }

    .school-logo{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    object-fit: contain;

    border-radius: 1rem;
    padding: 2rem;
    }
    .education-info{
    width: 100%;
    flex-direction: column;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(2px);
    padding: 1rem;
    color: var(--dark-blue);
    }
    .education-title{
    font-size: 2rem;
    font-weight: bold;
    }
    .school-name{
    font-size: 1.5rem;
    }
    .school-date{
    font-style: italic;
    font-weight: bold;
    }

    .divider{
    display: block !important;
    border: 3px var(--dark-blue) solid;
    border-radius: 0.5rem;
    width: 100%;
    margin: 1rem 0;
    }
 
    #skills h2{
    letter-spacing: 0.5rem;
    }

    #skills-container{
    flex-direction: column;
    column-gap: 0;
    row-gap: 5rem;
    }
    .hard-and-soft-skills{
    width: 100%;
    border-radius: 1rem;
    border: 3px white solid;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    }
    h3.skill-title{
    margin: 1rem;
    }
    .a-skill{
    font-size: 1.5rem;
    height: 5rem;
    border: 1px whitesmoke solid;
    padding: 0;
    }
}
@media (max-width: 450px){
    #profile-picture{
    background-color: rgb(211, 158, 61);
    width: 80%;
    aspect-ratio: 1/1;
    }   
}
