* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --light-color: rgb(231, 243, 243);
  --dark-color: darkgray;
  --dark-blue: rgb(7, 17, 51);
}

html {
  font-size: 16px;
  font-family: "Lexend", Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: var(--light-color);
  width: 100vw;
  display: flex;
  justify-content: center;
}

#main-container {
  background-color: var(--light-color);
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1500px;
}
/*HEADER*/
#header-bg {
  width: 100%;
  height: 10%;
}
#header-container {
  width: 50%;
}
header {
  height: 100%;
  display: flex;
  justify-content: space-between;
  font-size: clamp(1rem, 2vw, 1.5rem);
  animation: none;
  animation-delay: 0s;
}

header a {
  text-decoration: none;
  color: black;
  transition: all 300ms ease-in;
  position: relative;
  animation: none;
}
header a:hover {
  text-decoration: underline;
  text-decoration-color: var(--dark-blue);
  text-decoration-thickness: 0.5rem;
  text-decoration-skip-ink: none;
}
#nav-btn {
  width: 3rem;
  height: 3rem;
  display: none;
  border-radius: 50%;
  z-index: 3;
}
/*HEADER*/

/*MAIN*/
main {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/*HOME*/
#home {
  width: inherit;
  column-gap: 1rem;
  height: calc(100vh - 10vh);
  max-height: 1080px;
}
h1 {
  font-size: clamp(2rem, 3vw, 2.5rem);
  margin-bottom: 1rem;
}
#profile-picture {
  background-color: rgb(211, 158, 61);
  width: 50%;
  min-width: 280px;
  max-width: 500px;
  height: auto;
  aspect-ratio: 9/9;
  border-radius: 50%;
  overflow: hidden;
}
#profile-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#contact-field {
  border-radius: 1rem;
  border-color: black;
  background-color: var(--dark-blue);
  display: flex;
  text-align: center;
}
#contact-field legend {
  font-weight: 900;
  font-size: 1.2rem;
  color: var(--light-color);
  position: relative;
  top: 1rem;
  margin: 1rem;
}
#contact-field a {
  text-decoration: none;
  color: var(--light-color);
  font-size: 1.5rem;
  margin: 1rem;
  border: 1px solid var(--light-color);
  padding: 0.5rem;
  border-radius: 50%;

  transition: all 300ms ease-in;
}
#contacts-icons {
  width: 100%;
  height: 100%;
}
#contact-field a:hover {
  border-radius: 0.5rem;
  background-color: white;
  color: var(--dark-blue);
}
#introduction {
  width: 50%;
}
/*PROJECTS*/
#projects {
  background-image: url(assets/project_bg.png);
  background-position: top;
  object-fit: cover;

  width: 100%;
  height: auto;
  column-gap: 1rem;
  background-color: var(--dark-color);
  flex-direction: column;
  row-gap: 5rem;

  position: relative;
}
#projects:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
}

#project-container {
  width: 100%;
}

.each-project {
  width: 30%;
  aspect-ratio: 1/1;
  background-color: var(--light-color);
  border-radius: 1rem;
  box-shadow: 5px 5px 10px black;
  margin-left: -2rem;
  margin-right: -2rem;

  transition: all 500ms ease-in;
  cursor: pointer;
  filter: brightness(0.9);

  padding: 1rem;

  overflow: hidden;
}

.each-project:first-of-type {
  z-index: 1;
  position: relative;
  top: -20px;
}
.each-project:nth-of-type(2) {
  z-index: 2;
  position: relative;
}
.each-project:last-of-type {
  z-index: 1;
  position: relative;
  top: -20px;
}

.each-project:hover {
  z-index: 3;
  top: -2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  filter: brightness(1);
  transform: skewX(-5deg);
  box-shadow: 5px 5px 20px black;
}

.project-photo {
  width: 100%;
  height: 50%;
  background-color: burlywood;
  display: block;
  object-fit: cover;
}

#each-project-container {
  position: relative;
  width: 100%;
  height: 50%;
}

.project-title {
  font-weight: 900;
  margin: 0.5rem 0 0.2rem 0.2rem;
}

.project-caption {
  text-align: justify;
}
/*Education*/
#education {
  width: 100%;
  height: auto;
  background-color: var(--dark-blue);
  flex-direction: column;
  row-gap: 5rem;
}

#education h2 {
  color: var(--light-color);
}

#education-container {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.each-education {
  width: 100%;
  height: auto;
  background-color: var(--light-color);
  border-radius: 1rem;

  padding: 1rem;

  display: flex;
  column-gap: 1rem;
}

.school-logo {
  position: relative;
  width: 30%;
  height: 200px;
  background-color: rgb(228, 225, 225);
  object-fit: contain;

  border-radius: 1rem;
  padding: 0.5rem;
}
.education-info {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.education-title {
  font-size: clamp(1.5rem, 2.5vw, 2rem);
  font-weight: bold;
  text-align: center;
}
.school-name {
  font-size: 1.5rem;
  text-align: center;
}
.school-date {
  font-style: italic;
}
/*Skills*/
#skills {
  width: 100%;
  height: auto;
  background-color: rgb(5, 2, 20);
  flex-direction: column;
  row-gap: 5rem;
}

#skills h2 {
  color: var(--light-color);
}

#skills-container {
  width: 100%;
  display: flex;
  column-gap: 1.5rem;
  align-items: start;
}
.hard-and-soft-skills {
  width: 50%;
  border-radius: 1rem;
  border: 3px white solid;
  padding: 1rem;
  padding-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  position: relative;
  overflow: hidden;
}
h3.skill-title {
  color: var(--light-color);
  text-align: center;
  font-size: 2rem;
}

.skill-list {
  border-radius: 1rem;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.a-skill {
  height: 3rem;
  border: 1px whitesmoke solid;
  border-radius: 1rem;
  padding: 0.5rem;

  color: silver;
  flex: 1 0 auto;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: all 300ms ease-in;
}

.a-skill:hover {
  background-color: white;
  color: var(--dark-blue);
  cursor: pointer;
}

.cover {
  width: 100%;
  height: 100%;
  background-color: rgb(245, 245, 245, 0.8);
  backdrop-filter: blur(5px);
  position: absolute;
  top: 0;
  left: 0;

  transition: all 300ms ease-in-out;
  z-index: -1;
  opacity: 0;

  padding: 1rem;

  display: flex;
  flex-direction: column;
}

.cover .cover-title {
  font-family: "Anton", Impact, Haettenschweiler, "Arial Narrow Bold",
    sans-serif;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 5px;
}

.cover .cover-description {
  font-size: 1.5rem;
}

#skills blockquote {
  width: 100%;
  height: auto;
}
#skills blockquote p {
  font-size: 2rem;
  color: var(--light-color);
  font-style: italic;
  text-align: center;
  margin: 2rem 0;
}

@keyframes navButtons {
  from {
    left: -100%;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}
