*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    --light-color: azure;
    --dark-color: darkgray;
}

html{
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: var(--light-color);
    width: 100vw;
    display: flex;
    justify-content: center;
}

#main-container{
    background-color: var(--light-color);
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1500px;
}
/*HEADER*/
header{
    width: 100%;
    display: flex;
    justify-content: end;
    padding: 1rem;
    column-gap: 2rem;
}

header a{
    text-decoration: none;
    color: black;
}

#nav-btn{
    width: 2rem;
    height: 2rem;
    display: none;
}
/*HEADER*/

/*MAIN*/
main{
    width: 100%;
    display: flex;
    flex-direction: column;
}

/*HOME*/
#home{
    width: inherit;
    column-gap: 1rem;
}

#profile-picture{
    background-color: rgb(211, 158, 61);
    width: 50%;
    aspect-ratio: 9/9;
}
#profile-picture img{
    width: 100%;
    height: 100%;
}

/*PROJECTS*/
#projects{
    width: 100%;
    height: auto;
    column-gap: 1rem;
    background-color: var(--dark-color);
    flex-direction: column;
    row-gap: 5rem;
}

#projects h2{
    background-color: var(--light-color);
    padding: 1rem;
    border-radius: 2rem;
}

#project-container{
    width: 100%;
}

.each-project{
    width: 30%;
    aspect-ratio: 1/1;
    background-color: var(--light-color);
    border-radius: 1rem;
    box-shadow: 5px 5px 10px black;
    margin-left: -2rem;
    margin-right: -2rem;

    transition: all 500ms ease-in;
    cursor: pointer;
    filter: brightness(0.9);

    padding: 1rem;
}

.each-project:first-of-type{
    z-index: 1;
    position: relative;
    top: -20px;
}
.each-project:nth-of-type(2){
    z-index: 2;
    position: relative;
}
.each-project:last-of-type{
    z-index: 1;
    position: relative;
    top: -20px;
}

.each-project:hover{
    z-index: 3;
    top: -2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    filter: brightness(1);
    transform: rotate(15deg);
    transform: skewX(-5deg);
    box-shadow: 5px 5px 20px black;
}

.project-photo{
    width: 100%;
    height: 60%;
    background-color: burlywood;
    display: block;
    object-fit: cover;
}

.project-title{
    font-weight: 900;
    margin: 0.5rem 0 0.2rem 0.2rem;
}

.project-caption{
    font-size: 0.8rem;
}
/*Mobile view*/
@media (max-width: 750px){
    html{
    font-size: 12px;
    }
    header{ 
    display: none;
    justify-content: start;
    flex-direction: column;
    row-gap: 0.5rem; 
    width: 50vw;   
    height: 100vh;
    z-index: 2;
    background-color: rgba(119, 119, 119, 0.1);
    padding-top: 4rem;
    position: fixed;
    backdrop-filter: blur(5px);
    }

    #nav-btn{
    display: block;
    position: fixed;
    top: 1rem;
    left: 1rem;
    z-index: 3;
    }

    #home{
    height: 80vh;
    padding: 2rem;
    column-gap: 0;
    row-gap: 1rem;
    flex-direction: column;   
    }

    #profile-picture{
    background-color: rgb(211, 158, 61);
    width: 80%;
    aspect-ratio: 1/1;
    }   

    #my-name{   
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    /*PROJECTS*/
    #projects{
    width: 100%;
    height: auto;
    column-gap: 1rem;
    background-color: var(--dark-color);
    flex-direction: column;
    row-gap: 5rem;
    }

    #projects h2{
    background-color: var(--light-color);
    padding: 1rem;
    border-radius: 2rem;
    }

    #project-container{
    width: 100%;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    row-gap: 1rem;
    }

    .each-project{
    width: 80%;
    aspect-ratio: 1/1;
    background-color: var(--light-color);
    border-radius: 1rem;
    box-shadow: 0px 2px 5px black;
    margin-left: 0;
    margin-right: 0;
    filter: brightness(1);

    padding: 0rem;

    overflow: hidden;
    }
    .each-project:first-of-type{
    z-index: 1;
    top: 0;
    }
    .each-project:nth-of-type(2){
    z-index: 1;
    }
    .each-project:last-of-type{
    z-index: 1;
    top: 0;
    }

    .each-project:hover{
    z-index: 2;
    top: 0;
    margin-left: 0;
    margin-right: 0;
    margin: 1rem;
    transform: none;
    transform: scale(1.1);
    box-shadow: 0px 2px 5px black;
    }
}

/*Utility Classes*/
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.wide-padding{
    padding: 5rem 5rem;
}