* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

:root {
  --light-color: rgb(235, 236, 236);
  --dark-color: darkgray;
  --dark-blue: rgb(7, 17, 51);
  --float-blue: rgb(9, 23, 68);
  --whitesmoke-color: whitesmoke;
}

html {
  font-size: 16px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

body {
  background-color: var(--light-color);
  width: 100vw;
  display: flex;
  justify-content: center;
}

#main-container {
  background-color: var(--light-color);
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1500px;
}
/*HEADER*/
#header-bg {
  width: 100%;
  max-width: inherit;
  height: 10%;
  min-height: 52px;
  position: fixed;
  z-index: 5;
}
#header-container {
  width: 95%;
  height: 60%;
  display: flex;
  background-color: var(--float-blue);
  border-radius: 1rem;
  padding: 0 1rem;
}
#header {
  width: 50%;
  height: 100%;
  animation: none;
  animation-delay: 0s;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header a {
  text-decoration: none;
  color: var(--light-color);
  transition: all 300ms ease-in;
  position: relative;
  animation: none;
  font-size: clamp(1rem, 2vw, 1.5rem);
  border-radius: 1rem;
}

#header a:hover {
  opacity: 0.8;
}

#nav-btn {
  width: 3rem;
  height: 3rem;
  display: none;
  border-radius: 50%;
  z-index: 3;
}

#logo {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border: none;
}

#logo img {
  height: 60%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: white;
}
/*HEADER*/

/*CONTACT*/
#contact {
  width: 300px;
  height: 8vh;
  max-height: 77px;
  min-height: 2rem;

  font-size: 1.8rem;

  background-color: var(--float-blue);
  color: var(--light-color);

  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 5;
  border-radius: 1rem;

  margin: 1rem;

  cursor: pointer;

  transition: all 300ms ease-in;
}

#contact-pop-up {
  width: 0;
  height: 70vh;
  aspect-ratio: 1/1;
  background-color: var(--float-blue);

  position: fixed;
  top: 10vh;
  right: -5rem;
  z-index: 5;

  border-radius: 1rem;

  padding: 1rem;
  margin: 1rem;
  display: flex;

  flex-direction: column;
  row-gap: 1rem;

  visibility: hidden;
}

.contact-lists {
  width: 100%;

  background-color: var(--light-color);

  aspect-ratio: 1/1;
  border-radius: 0.5rem;

  position: relative;
  display: block;

  position: relative;
  transition: all 200ms ease-in;
}

.contact-lists:hover i {
  color: orangered;
  transform: translate(-50%, -40%);
  border-bottom: 5px var(--shadow-gradient) solid;
}

.contact-lists i {
  display: inline-block;

  color: var(--dark-blue);
  font-size: 1rem;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;

  transition: all 200ms ease-in;
}

/*CONTACT*/

/*MAIN*/
main {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/*HOME*/
#home {
  width: inherit;
  height: 100vh;
  max-height: 700px;
  position: relative;
}

#home * {
  z-index: 1;
}

h1 {
  font-size: 3rem;
}

#home p {
  font-size: 2rem;
  margin-top: 1rem;
  opacity: 0.8;
}

/*ABOUT*/
#about {
  width: 100%;
  height: auto;
  background-color: rgb(255, 192, 203, 0.2);
  display: flex;
  justify-content: center;
}

#about-container {
  width: 80%;
  height: 100%;
  column-gap: 1rem;
  display: flex;
  justify-content: center;
}

#about-pic {
  width: 30%;
  aspect-ratio: 4/5;
}

#about-pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#about-text {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-wrap: break-word;
  text-align: justify;
}

#about-text h2 {
  font-size: 2rem;
}

#about-text p {
  font-size: 1.5rem;
}
/*ABOUT*/

/*PROJECTS*/
#projects {
  background-color: var(--light-color);
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#project-container {
  width: 100%;
  height: auto;
  overflow-x: scroll;

  display: flex;
  column-gap: 3rem;
  flex-wrap: nowrap;
  padding: 1rem 1rem 3rem 1rem;
}
#project-container::-webkit-scrollbar {
  border-radius: 1rem;
  width: 100%;
  background-color: var(--whitesmoke-color);
}
#project-container::-webkit-scrollbar-thumb {
  background-color: var(--dark-blue);
  border-radius: 1rem;
  border: 5px solid var(--whitesmoke-color);
}

.each-project {
  width: 300px;
  height: 400px;
  background-color: var(--whitesmoke-color);
  border-radius: 2rem;

  padding: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  overflow: hidden;
  position: relative;

  cursor: pointer;

  transition: all 300ms ease-out;
}

.each-project::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(3px);
  z-index: 2;
}

.visit-project-nav {
  font-size: 0.75rem;
  font-weight: bold;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;

  background-color: orange;

  z-index: 3;
  visibility: hidden;

  transition: all 300ms ease-in-out;
  transform-origin: bottom;
}
.each-project:hover .visit-project-nav {
  content: "VISIT PROJECT";
  visibility: visible;
  height: 2rem;
}
.visit-project-nav:hover {
  font-size: 1rem;
  color: rgb(236, 236, 236);
}

.each-project * {
  z-index: 3;
}

.each-project:hover {
  transform: translateY(-1rem);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.each-project::before:hover {
  background-color: orangered;
  cursor: pointer;
}

.project-title {
  width: 100%;
  height: 10%;
  font-size: 1.25rem;
}
.project-image {
  width: 100%;
  height: 50%;
  object-fit: contain;
}
.project-description {
  width: 100%;
  height: auto;
}
.project-tools {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}
.project-tools span {
  display: block;
  height: 2rem;
  width: 2rem;
  border-radius: 0.5rem;

  display: flex;
  align-items: center;
  justify-self: center;
}
.tools {
  font-size: 2rem;
  color: orangered;
}
.project-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: 1;
  opacity: 1;
}
/*Education*/
#education {
  width: 100%;
  height: auto;
  background-color: var(--dark-blue);
  flex-direction: column;
  row-gap: 5rem;
}

#education h2 {
  color: var(--light-color);
}

#education-container {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.each-education {
  width: 100%;
  height: auto;
  background-color: var(--light-color);
  border-radius: 1rem;

  padding: 1rem;

  display: flex;
  column-gap: 1rem;
}

.school-logo {
  position: relative;
  width: 30%;
  height: 200px;
  background-color: rgb(228, 225, 225);
  object-fit: contain;

  border-radius: 1rem;
  padding: 0.5rem;
}
.education-info {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.education-title {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}
.school-name {
  font-size: 1.25;
  text-align: center;
}
.school-date {
  font-size: 1rem;
  font-style: italic;
}
/*Skills*/
#skills {
  width: 100%;
  height: auto;
  background-color: rgb(5, 2, 20);
  flex-direction: column;
  row-gap: 5rem;
}

#skills h2 {
  color: var(--light-color);
}

#skills-container {
  width: 100%;
  display: flex;
  column-gap: 1.5rem;
  align-items: start;
}
.hard-and-soft-skills {
  width: 50%;
  border-radius: 1rem;
  border: 3px white solid;
  padding: 1rem;
  padding-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  position: relative;
  overflow: hidden;
}
h3.skill-title {
  color: var(--light-color);
  text-align: center;
  font-size: 2rem;
}

.skill-list {
  border-radius: 1rem;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.a-skill {
  height: 3rem;
  border: 1px whitesmoke solid;
  border-radius: 1rem;
  padding: 0.5rem;

  color: silver;
  flex: 1 0 auto;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: all 300ms ease-in;
}

.a-skill:hover {
  background-color: white;
  color: var(--dark-blue);
  cursor: pointer;
}

.cover {
  width: 100%;
  height: 100%;
  background-color: rgb(245, 245, 245, 0.8);
  backdrop-filter: blur(5px);
  position: absolute;
  top: 0;
  left: 0;

  transition: all 300ms ease-in-out;
  z-index: -1;
  opacity: 0;

  padding: 1rem;

  display: flex;
  flex-direction: column;
}

.cover .cover-title {
  font-family: "Anton", Impact, Haettenschweiler, "Arial Narrow Bold",
    sans-serif;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 5px;
}

.cover .cover-description {
  font-size: 1.5rem;
}

#skills blockquote {
  width: 100%;
  height: auto;
}
#skills blockquote p {
  font-size: 2rem;
  color: var(--light-color);
  font-style: italic;
  text-align: center;
  margin: 2rem 0;
}

@keyframes navButtons {
  from {
    left: -100%;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}
