/*Utility Classes*/
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-center-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wide-padding {
  padding: 2rem 1.5rem;
  z-index: 1;
}
.justified {
  text-align: justify;
  margin-bottom: 1rem;
}
.divider {
  display: none;
}
.titles {
  padding: 1rem;
  border-radius: 2rem;
  font-family: "Anton", Impact, Haettenschweiler, "Arial Narrow Bold",
    sans-serif;
  font-size: 5rem;
  letter-spacing: 1rem;
}
.intro-box {
  background-color: whitesmoke;
  border: 5px black solid;
  border-radius: 1rem;
  padding: 1rem;
}

.img-background {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
  opacity: 0.5;
}

.show {
  visibility: visible !important;
  animation: fadeIn 300ms ease-in forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    width: 75px;
    right: 0;
  }
}
